<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/bundle.js"></script>
    
</head>

<body ng-app='myApp' ng-controller='mainCtrl'>
    <div class="container">
        <h1><%= title %></h1>
        <!-- <ui-view></ui-view> -->
        <div>
        <form action="/api/files" method="POST" enctype="multipart/form-data">
            
        <input type="file" name="newFile" id="">
        <input type="text" placeholder="Filename", name='filename'>
        <button>Submit</button>
            
        </form>
        </div>
    </div>
</body>

</html>
